@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root {
  --body-primary: 20px;
  --body-secondary: 16px;
  --body-primary-sm: 13px;
  --body-secondary-sm: 11px;

  --primary: #0099FF !important;
  --secondary-blue: #00DCFF !important;
  --secondary-green: #0fa !important;
  --secondary-purple: #663399 !important;
  --secondary-navy: #333366 !important;
  --secondary-orange: #FF9966 !important;
  --base-black: #313337 !important;
  --base-ultradark-grey: #58616A !important;
  --base-ultralight-grey: #F5F8F9 !important;
  --base-dark-grey: #888E9E !important;
  --base-grey: #B2BDC5 !important;
  --base-light-grey: #E2E8EF !important;
  --warning-green: #1ABC90 !important;
  --warning-yellow: #F7C24A !important;
  --warning-red: #FC3F72 !important;
  --warning-orange: #FF9966 !important;
  --white: #FFF !important;
}

body{
  background-color: var(--base-light-grey);
}
.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contCenter{
  width: 1200px;

}