.container{
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    border-bottom: 1px solid var(--base-light-grey);
}
.tabs{
    padding: 25px;
}

